# Java
/target/
*.class

# IDEs
/.idea/
*.iml
/.vscode/

# Node
/node_modules/
/rubic_cube-main/node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Maven
data
.mvn/

# Build artifacts
/rubic_cube-main/target/
/rubic_cube-main/frontend/node_modules/
/rubic_cube-main/node_modules/

# Others
*.swp
